{% extends 'base.html' %}

{% block content %}

<!-- MAIN CONTAINER -->
<section class="maincontainer">
    <!-- PAGE TITLE -->
    <div class="page-title">Recuperación de contraseña</div>
    <!-- PAGE CONTAINER -->
    <section class="pagecontainer using-grid">   
        <!-- CONTACT FORM -->
        	<!-- GRID -->
            <div class="grid">
            	<!-- LEFT SIDE -->
                <div class="unit two-thirds">

                	<h5>Ingrese su correo</h5> 

			        <form class="reset" action="." method="POST">
			        	{% csrf_token %}
                        <label for="id_email">Correo:</label>
                        {{ form.email }}
                        {% for error in form.email.errors %} 
                            <p class="text-error"><small>{{ error }}</small></p>
                        {% endfor %}
			            <input type="submit" class="button" value="Recuperar" />
			        </form>
		
			    </div>
			</div>      
    </section>
    <div class="clear"></div>
    {% include 'footer.html' %}
    <!-- BACK TO TOP BUTTON -->
    <a href="#" class="back-to-top"></a>
</section>

{% endblock %}
