{% extends "base.html" %}

{% block content %}

<!-- MAIN CONTAINER -->
<section class="maincontainer">
    <!-- PAGE TITLE -->
    <div class="page-title">Ingresar al sitio</div>
    <!-- PAGE CONTAINER -->
    <section class="pagecontainer using-grid">   
        <!-- CONTACT FORM -->
        	<!-- GRID -->
            <div class="grid">
            	<!-- LEFT SIDE -->
                <div class="unit two-thirds">

                	<h5>Ingrese sus datos</h5>

                	{% if message %}
	                	<div class="red message">
	                        <span class="message-close"></span>
	                        <h5>Hubo un error!</h5>
	                        <p>{{message}}</p>
	                    </div>
                    {% endif %} 

			        <form class="login" action="{% url 'user:login' %}" method="POST">
			        	{% csrf_token %}
			        	<label for="id_email">Correo:</label>
						{{ form.email }}
						{% for error in form.email.errors %} 
							<p class="text-error"><small>{{ error }}</small></p>
						{% endfor %}
						<label for="id_password">Contraseña:</label>
						{{ form.password }}
						{% for error in form.password.errors %} 
							<p class="text-error"><small>{{ error }}</small></p>
						{% endfor %}
			            <input type="submit" class="button" value="Ingresar" />
			        </form>
			        <div class="helper">
			        	<a href="{% url 'user:signup' %}">
							Registrarme aquí!
						</a>
						<a href="{% url 'user:password_reset' %}">
							Olvidé mi contraseña
						</a>
					</div>
			    </div>
			</div>      
    </section>
    <div class="clear"></div>
    {% include 'footer.html' %}
    <!-- BACK TO TOP BUTTON -->
    <a href="#" class="back-to-top"></a>
</section>

{% endblock %}
