{% extends 'base.html' %}

{% block content %}

<!-- MAIN CONTAINER -->
<section class="maincontainer">
    <!-- PAGE TITLE -->
    <div class="page-title">Recuperación de contraseña</div>
    <!-- PAGE CONTAINER -->
    <section class="pagecontainer using-grid">   
        <!-- CONTACT FORM -->
        	<!-- GRID -->
            <div class="grid">
            	<!-- LEFT SIDE -->
                <div class="unit two-thirds">

                	{% if validlink %}
	                	<h5>Ingrese su nueva contraseña</h5> 

				        <form class="password_change" action="." method="POST">
				        	{% csrf_token %}
							<label for="id_email">Nueva Contraseña:</label>
	                        {{ form.new_password1 }}
	                        {% for error in form.new_password1.errors %} 
	                            <p class="text-error"><small>{{ error }}</small></p>
	                        {% endfor %}
	                        <label for="id_email">Confirmación de contraseña nueva:</label>
	                        {{ form.new_password2 }}
	                        {% for error in form.new_password2.errors %} 
	                            <p class="text-error"><small>{{ error }}</small></p>
	                        {% endfor %}
				            <input type="submit" class="button" value="Recuperar" />
				        </form>
				    {% else %}
				    	<div class="red message">
	                        <span class="message-close"></span>
	                        <h5>Hubo un error!</h5>
	                        <p>Al parecer el link es inválido ya que posiblemente haya sido utilizado o en su defecto ya haya expirado. Por favor intente nuevamente.</p>
	                    </div>
					{% endif %}
			    </div>
			</div>      
    </section>
    <div class="clear"></div>
    {% include 'footer.html' %}
    <!-- BACK TO TOP BUTTON -->
    <a href="#" class="back-to-top"></a>
</section>

{% endblock %}
