{% extends 'base.html' %}

{% block content %}

<!-- MAIN CONTAINER -->
<section class="maincontainer">
    <!-- PAGE TITLE -->
    <div class="page-title">Recuperación de contraseña</div>
    <!-- PAGE CONTAINER -->
    <section class="pagecontainer using-grid">   
        <!-- CONTACT FORM -->
        	<!-- GRID -->
            <div class="grid">
            	<!-- LEFT SIDE -->
                <div class="unit two-thirds">

                	<h5>Modificar contraseña</h5>
                	
                	<div class="black message">
                        <span class="message-close"></span>
                        <h5>En hora buena!</h5>
                        <p>Su contraseña ha sido modificada con éxito.</p>
                        <p><a href="{% url 'user:login' %}">Ingresar al sitio</a></p>
                    </div>
                    
			    </div>
			</div>      
    </section>
    <div class="clear"></div>
    {% include 'footer.html' %}
    <!-- BACK TO TOP BUTTON -->
    <a href="#" class="back-to-top"></a>
</section>

{% endblock %}
